<script>
import { IsMobileMixin } from '~/mixins';

export default {
  mixins: [IsMobileMixin],
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
};
</script>
<template>
  <SlpContainer class="slp-mt-64 slp-md-mt-48">
    <SlpTypography
      tag="h5"
      :variant="isMobile ? 'heading3-bold' : 'heading5-bold'"
      class="slp-mb-24"
      >{{ data.title }}</SlpTypography
    >
    <div class="card-container">
      <div v-for="(card, index) in data.cards" :key="index" class="card">
        <img :src="card.image" :alt="card.name" class="card-image" />
        <SlpTypography
          tag="p"
          :variant="isMobile ? 'body1-bold' : 'body3-bold'"
          >{{ card.name }}</SlpTypography
        >
        <SlpTypography tag="p" :variant="isMobile ? 'body1' : 'body3'">{{
          card.role
        }}</SlpTypography>
      </div>
    </div>
  </SlpContainer>
</template>

<style scoped lang="scss">
.card-container {
  display: flex;
  justify-content: space-between;
  gap: $spacing-24;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  max-width: 180px;
  width: 180px;
  height: 263px;
  background-color: #fff;
  padding: $spacing-16;
  border-radius: $spacing-8;

  @media (max-width: $breakpoint-sm) {
    margin-bottom: $spacing-48;
  }

  @media (min-width: $breakpoint-md) {
    min-width: 160px;
  }
}

.card-image {
  width: 100%;
  height: 65%;
  object-fit: cover;
  object-position: center top;
  border-radius: $spacing-8 $spacing-8 40px $spacing-8;

  @media (min-width: $breakpoint-md) {
    height: 80%;
  }
}
</style>
