<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'NextStepsAlt',
  props: {
    variant: {
      type: Number,
      required: false,
      default: 1,
    },
    disableAnimations: {
      type: Boolean,
      required: false,
      default: false,
    },
    currentLocale: {
      type: String,
      required: false,
      default: '',
    },
  },
});
</script>

<template>
  <section class="next-step-alt">
    <SlpContainer>
      <div class="next-step-alt__container">
        <SlpRow>
          <SlpColumn :col="5">
            <div class="next-step-alt__header slp-mb-8">
              <SlpTypography variant="heading3-bold" tag="h2">
                Ready to get started?
              </SlpTypography>
            </div>

            <SlpTypography
              variant="body1"
              tag="p"
              class="slp-mb-16 description"
            >
              See what your team could do with an AI-powered software
              development lifecycle.
            </SlpTypography>
            <SlpButton
              variant="secondary"
              href="https://gitlab.com/-/trial_registrations/new?glm_content=default-saas-trial&glm_source=about.gitlab.com%2Fgitlab-duo%2F"
              data-ga-name="free trial"
              class="next-step-alt__main-button"
              data-ga-location="feature"
            >
              Try Ultimate for free
            </SlpButton>
          </SlpColumn>
          <SlpColumn :col="7">
            <div class="next-step-alt__col-wrapper">
              <div class="next-step-alt__col-cta">
                <SlpIcon
                  icon="slp-documents"
                  size="md"
                  alt=""
                  class="slp-mb-md-24"
                />
                <SlpTypography variant="body2" tag="p" class="slp-mt-16">
                  Learn more about our AI features in our GitLab Duo
                  Documentation.
                </SlpTypography>
                <SlpButton
                  variant="tertiary"
                  class="next-step-alt__button slp-mt-16"
                  href="https://docs.gitlab.com/ee/user/ai_features.html"
                  data-ga-name="gitlab ai features documentation"
                  data-ga-location="feature"
                >
                  Read Documentation
                  <SlpIcon
                    icon="gl-chevron-lg-right"
                    alt="Chevron Right Icon"
                  />
                </SlpButton>
              </div>
              <div class="next-step-alt__col-cta">
                <SlpIcon
                  icon="slp-support"
                  size="md"
                  alt=""
                  class="slp-mb-md-24"
                />
                <SlpTypography variant="body2" tag="p" class="slp-mt-16">
                  Learn more about GitLab Duo Pro and other GitLab AI product
                  offerings.
                </SlpTypography>
                <SlpButton
                  variant="tertiary"
                  class="next-step-alt__button slp-mt-16"
                  href="https://about.gitlab.com/solutions/gitlab-duo-pro/sales/"
                  data-ga-name="learn more about gitlab duo pro"
                  data-ga-location="feature"
                >
                  Contact us
                  <SlpIcon
                    icon="gl-chevron-lg-right"
                    alt="Chevron Right Icon"
                  />
                </SlpButton>
              </div>
            </div>
          </SlpColumn>
        </SlpRow>
      </div>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.next-step-alt {
  background: $color-surface-700;
  color: $color-primary-300;
  padding-bottom: $spacing-32;
  position: relative;
  z-index: 1;

  &__container {
    background: $color-surface-700;
    border-radius: 12px;
    border: 1px solid $color-surface-600;
    padding: $spacing-32 $spacing-24;
    position: relative;
    margin-top: -$spacing-96;
    @media (min-width: $breakpoint-sm) {
      padding: $spacing-64;
    }
    @media (min-width: $breakpoint-md) {
      max-width: 100%;
    }
  }
  &__col-wrapper {
    @media (min-width: $breakpoint-md) {
      display: flex;
      flex-direction: row;
      gap: $spacing-16;
    }
  }
  &__col-cta {
    flex: 1 0 50%;
    margin-top: $spacing-32;
    @media (min-width: $breakpoint-md) {
      margin-top: 0;
    }
  }
  &__button {
    width: 95%;
    color: $color-primary-300 !important;
    display: inline-block;
    text-align: left;

    &:hover {
      text-decoration: underline;
      text-decoration-color: currentColor !important;
    }
    :deep .slp-icon {
      display: inline-block;
      position: relative;
      div {
        position: absolute;
        top: 2px;
      }
    }

    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
  }
  &__header {
    max-width: 480px;
    background: linear-gradient(
      89.95deg,
      #feb484 3.13%,
      #a686f2 66.86%,
      #592ac8 123.2%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .description {
    padding-right: 32px;
  }
  &__main-button {
    width: 100%;
    justify-content: center;
    @media (min-width: $breakpoint-sm) {
      width: auto;
    }
  }
}
</style>
