<script lang="ts">
import Accordion from '~/components/common/accordion.vue';

export default {
  components: {
    Accordion,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      selectedFilter: this.convertToSnakeCase(
        this.data.filters[0].items[0].name,
      ),
      openAccordion: null,
      observer: null,
      isIntersecting: false,
      initialAnimation: false,
      isFilterChange: false,
    };
  },
  computed: {
    filteredResults() {
      return this.getFilteredResults(this.data.data, this.selectedFilter);
    },
  },
  watch: {
    selectedFilter() {
      this.isFilterChange = true;
      this.updateCountersWithoutAnimation();
      this.animateCounters();
    },
  },
  beforeMount() {
    const openDefault = this.data.filters.find((filter) => filter.isOpen);
    if (openDefault) {
      this.openAccordion = `${this.data.header}-${openDefault.title}`;
    }
  },
  mounted() {
    this.setUpObserver();
  },
  methods: {
    convertToSnakeCase(text) {
      return text
        .toLowerCase()
        .replace(/[\u{1F1E6}-\u{1F1FF}]\s?/gu, '') // Removes flag emojis and the space after them
        .replace(/[\u{1F30D}-\u{1F30F}]\s?/gu, '') // Removes globe/world emojis and the space after them
        .replace(/[’!@#$%^&*()_+={}:;"'<>,.?|~`[\]]/g, '') // Removes special characters
        .replace(/[-/]/g, '_') // Replaces hyphens and slashes with underscores
        .replace(/\s+/g, '_'); // Replaces spaces with underscores
    },
    getFilteredResults(data, selectedFilter) {
      if (selectedFilter) {
        const filterKey = selectedFilter;
        const filteredData = data[filterKey];
        return filteredData ? filteredData : { results: [] };
      }
    },
    setUpObserver() {
      if (this.observer) {
        this.observer.disconnect();
      }
      const resultsElement = this.$refs.allResults;
      if (!resultsElement) {
        return;
      }

      this.observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              this.isIntersecting = true;
              this.isFilterChange = false; // Reset flag on intersection
              this.animateCounters();
            } else {
              this.isIntersecting = false;
            }
          });
        },
        {
          root: null,
          rootMargin: '0px',
          threshold: 0.1,
        },
      );

      this.observer.observe(resultsElement);
    },
    animateCounters() {
      if (!this.isIntersecting && !this.isFilterChange) return;

      this.filteredResults.results.forEach((result) => {
        const number = this.$refs[`result-${result.item.label}`][0];
        const bar = this.$refs[`${result.item.label}-bar`][0];
        this.animateCounter(number, result.item.percentage);
        this.animateBar(bar, result.item.percentage);
        this.initialAnimation = true;
      });
    },
    updateCountersWithoutAnimation() {
      this.filteredResults.results.forEach((result) => {
        const number = this.$refs[`result-${result.item.label}`][0];
        number.innerText = `${result.item.percentage}%`;
      });
    },
    animateBar(element, percentage) {
      if (window.matchMedia('(prefers-reduced-motion: reduce)').matches) {
        element.style.width = `${percentage}%`;
        this.initialAnimation = true;
        return;
      }

      const currentWidth = parseFloat(element.style.width) || 0;
      const targetWidth = percentage;
      const widthDifference = targetWidth - currentWidth;
      const increment = widthDifference / 45;
      let current = currentWidth;

      const interval = setInterval(() => {
        current += increment;
        if (
          (increment > 0 && current >= targetWidth) ||
          (increment < 0 && current <= targetWidth)
        ) {
          current = targetWidth;
          clearInterval(interval);
        }
        element.style.width = `${Math.round(current)}%`;
      }, 10);
    },
    animateCounter(element, percentage) {
      if (
        this.isFilterChange ||
        window.matchMedia('(prefers-reduced-motion: reduce)').matches
      ) {
        element.innerText = `${percentage}%`;
        this.initialAnimation = true;
        return;
      }

      // Number Counter
      let current = 0;
      const increment = percentage / 65; // Adjust number for speed of animation. 100 feels too slow and 50 feels too fast
      const interval = setInterval(() => {
        current += increment;
        if (current >= percentage) {
          current = percentage;
          clearInterval(interval);
        }
        element.innerText = `${Math.round(current)}%`;
      }, 20);
    },
    toggleAccordion(id) {
      this.openAccordion = this.openAccordion === id ? null : id;
    },
  },
};
</script>

<template>
  <div class="survey-results-radio">
    <SlpTypography tag="h4" variant="heading5-bold" class="slp-mb-24">
      {{ data.header }}
    </SlpTypography>
    <div
      v-for="filter in data.filters"
      :key="filter.title"
      class="accordion-container"
    >
      <Accordion
        :id="`${data.header}-${filter.title}`"
        :is-open="openAccordion === `${data.header}-${filter.title}`"
        :analytics="{
          name: filter.title.toLowerCase(),
          location: data.header.toLowerCase(),
        }"
        @toggle="toggleAccordion(`${data.header}-${filter.title}`)"
      >
        <template #title>
          <div class="filter-accordion-title">
            {{ filter.title }}
          </div>
        </template>
        <template #content>
          <div
            class="filter-accordion-content"
            :class="filter.items.length <= 6 ? 'nowrap' : ''"
          >
            <div v-for="item in filter.items" :key="item.name" class="filter">
              <input
                :id="`${data.header}-${item.name}`"
                v-model="selectedFilter"
                type="radio"
                :value="convertToSnakeCase(item.name)"
                :data-ga-name="`${convertToSnakeCase(item.name)} - ${filter.title.toLowerCase()}`"
                :data-ga-location="data.header.toLowerCase()"
              />
              <label
                :for="`${data.header}-${item.name}`"
                :data-ga-name="`${convertToSnakeCase(item.name)} - ${filter.title.toLowerCase()}`"
                :data-ga-location="data.header.toLowerCase()"
                >{{ item.name }}</label
              >
            </div>
          </div>
        </template>
      </Accordion>
    </div>

    <div ref="allResults" class="all-results slp-mt-24">
      <div
        v-for="result in filteredResults.results"
        :key="result.item.label"
        class="result-bar"
        :class="data.variant2 ? 'variant-two ' : ''"
      >
        <div class="result-bar__container">
          <div
            :ref="`${result.item.label}-bar`"
            class="result-bar__bar"
            :style="{
              width: !initialAnimation ? '0%' : result.item.percentage + '%',
            }"
          ></div>
        </div>
        <div class="result-bar__content">
          <div class="result-bar__label">{{ result.item.label }}</div>
          <div class="result-bar__percentage">
            <span
              :ref="`result-${result.item.label}`"
              class="result-bar__percent"
            >
              {{ result.item.percentage + '%' }}
            </span>
            <span v-if="result.item.yoy" class="result-bar__yoy">
              {{ result.item.yoy }}% {{ filteredResults.yoy_label }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.survey-results-radio {
  .accordion-container {
    .accordion {
      border-bottom: 1px solid #232150;

      &:deep {
        button {
          color: #232150 !important;
          @media (min-width: $breakpoint-md) {
            padding: 12px 0;
          }
        }
        .slp-icon {
          color: #232150 !important;
        }
      }
    }

    &:first-of-type {
      .accordion {
        border-top: 1px solid #232150;
      }
    }
  }
}
.result-bar {
  margin-bottom: 16px;

  &.variant-two {
    .result-bar__bar {
      background-color: #fc6d26;
    }
  }

  &__container {
    background-color: $color-surface-50;
    border: 1px solid #171321;
    border-radius: 10px;
    overflow: hidden;
    padding: 4px;
    position: relative;
    height: 20px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 8px;
  }

  &__bar {
    border-radius: 10px;
    background-color: #5943b6;
    height: 100%;
    width: 0%;
    transition:
      width 1s ease,
      background-color 1s ease;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
  }

  &__label {
    font-weight: bold;
    margin-right: 10px;
    flex-shrink: 1;
    max-width: 60%;
    font-size: 14px;
    line-height: 22px;
  }

  &__percentage {
    display: flex;
    align-items: center;
  }

  &__percent {
    padding: 4px;
  }

  &__percent,
  &__yoy {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    line-height: 22px;
    font-weight: $font-weight-bold;
  }

  &__yoy {
    background-color: #2f2a6b;
    color: #fdf1dd;
    padding: 2px 8px;
    border-radius: 999px;
    margin-left: 4px;
    text-align: center;
    min-width: 68px;
  }
}

.filter-accordion-title {
  color: #232150;
  font-size: 16px;
  font-weight: $font-weight-bold;
  line-height: 24px;
}

.filter-accordion-content {
  display: flex;
  padding-bottom: 12px;
  flex-wrap: wrap;

  &.nowrap {
    display: block;
  }

  .filter {
    flex: 0 0 50%;
    padding: 4px 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    input[type='radio'] {
      display: block;
      accent-color: #232150;
      color: #232150;
      margin-top: 5px;
    }

    label {
      font-size: 14px;
      line-height: 22px;
      display: block;
      color: #232150;
      font-weight: bold;
      cursor: pointer;
      margin-left: 4px;
    }
  }
}

@keyframes fillAnimation {
  from {
    width: 0;
  }
  to {
    width: var(--bar-width);
  }
}
</style>
