<script>
export default {
  name: 'Sponsors',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
};
</script>

<template>
  <section :id="data.anchor_id" class="sponsors">
    <SlpContainer>
      <SlpRow>
        <SlpColumn>
          <SlpTypography variant="heading2-bold" tag="h2">
            Sponsors
          </SlpTypography>
          <a
            v-for="sponsor in data.sponsors"
            :key="sponsor.name"
            :href="sponsor.link"
            target="_blank"
          >
            <nuxt-img
              :src="sponsor.img"
              :alt="`${sponsor.name} logo`"
              loading="lazy"
              format="webp"
              quality="99"
            />
          </a>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.sponsors {
  margin-top: $spacing-64;
  margin-bottom: $spacing-96;

  @media (max-width: $breakpoint-md) {
    padding-bottom: $spacing-8;
  }

  h2 {
    margin-bottom: $spacing-64;
  }
}
.tier {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: $spacing-32 0;
  border-top: 1px solid $color-surface-200;

  &:last-of-type {
    border-bottom: 1px solid $color-surface-200;
  }

  h3 {
    display: block;
    flex: 0 0 25%;
    margin-bottom: $spacing-32;
  }

  .logo-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 90px;
    flex-wrap: wrap;

    img {
      max-width: 100px;
      width: 100%;
    }
  }
}
</style>
