<script>
export default {
  props: {
    title: {
      type: String,
      required: false,
      default: null,
    },
    content: {
      type: String,
      required: false,
      default: null,
    },
    id: {
      type: String,
      required: true,
      default: 'accordion',
    },
    isOpen: {
      type: Boolean,
      default: false,
    },
    analytics: {
      type: Object,
      required: false,
      default: () => ({
        name: 'accordion',
        location: 'body',
      }),
    },
  },
  data() {
    return {
      openByDefault: this.isOpen,
    };
  },
  watch: {
    isOpen(newValue) {
      this.openByDefault = newValue;
    },
  },
  methods: {
    toggleAccordion() {
      this.openByDefault = !this.openByDefault;
      this.$emit('toggle', this.id);
    },
  },
};
</script>

<template>
  <div class="accordion">
    <button
      :id="`${id}-button`"
      class="accordion__summary"
      :aria-expanded="openByDefault"
      :aria-controls="`${id}-panel`"
      :data-ga-name="analytics.name"
      :data-ga-location="analytics.location"
      @click="toggleAccordion"
    >
      <slot name="title"></slot>
      <SlpIcon v-if="openByDefault" name="dash" variant="product" />
      <SlpIcon v-else name="plus" variant="product" />
    </button>
    <div
      v-show="openByDefault"
      :id="`${id}-panel`"
      class="accordion__content-container"
      :aria-labelledby="`${id}-button`"
    >
      <slot name="content"></slot>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.accordion {
  color: $color-text-300;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  text-align: left;

  &__summary {
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    background: none;
    border: none;
    width: 100%;
    text-align: left;

    @media (max-width: $breakpoint-md) {
      padding: 16px 0;
    }
  }

  &__content-container {
    text-align: left;
    font-size: 16px;
  }

  .slp-icon {
    color: inherit;
    margin-top: -10px;
  }
}
</style>
