<script lang="ts">
import Vue from 'vue';
import { getClient } from '../../plugins/contentful';
import { CONTENT_TYPES } from '../../common/content-types';
import { nextStepsAltHelper } from '~/services/next-steps-alt/next-steps-alt.service';
import { editQueryParams } from '~/mixins/index';
import { CtfEntry, CtfNextStep } from '~/models/content-types.dto';

export default Vue.extend({
  name: 'NextStepAlt',
  mixins: [editQueryParams],
  props: {
    entryId: {
      type: String,
      required: false,
      default: '1UWQCOoWjO1Wg9fSDrRPDG',
    },
    disableAnimations: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      content: null,
    };
  },
  async fetch() {
    const currentLocale =
      this.$i18n.locale === 'en-us' ? '' : this.$i18n.locale;
    if (currentLocale) {
      const content = (await this.$content(
        `${currentLocale}/next-step-alt`,
      ).fetch()) as any;
      this.content = content;
    } else {
      const [entries]: CtfEntry<CtfNextStep> = (
        await getClient().getEntries({
          content_type: CONTENT_TYPES.NEXT_STEPS,
          include: 10,
          'sys.id': this.entryId,
        })
      ).items;
      this.content = nextStepsAltHelper(entries?.fields);
    }
  },
});
</script>

<i18n src="../../content/next-step-alt.yml" lang="yaml"></i18n>
<template>
  <section class="next-step-alt">
    <SlpContainer>
      <div class="next-step-alt__container">
        <SlpRow>
          <SlpColumn :col="5">
            <div class="next-step-alt__header slp-mb-8">
              <SlpTypography variant="heading3-bold" tag="h2">
                {{ content.header }}
              </SlpTypography>
            </div>
            <SlpTypography variant="heading5" tag="p" class="slp-mb-16">
              {{ content.blurb }}
            </SlpTypography>
            <SlpButton
              variant="secondary"
              :href="updateFreeTrialGlmContent(content.button.href)"
              :data-ga-name="content.button.data_ga_name"
              class="next-step-alt__main-button"
              :data-ga-location="content.button.data_ga_location || 'next step'"
            >
              {{ content.button.text }}
            </SlpButton>
          </SlpColumn>
          <SlpColumn :col="7">
            <div class="next-step-alt__col-wrapper">
              <div
                v-for="(cta, index) in content.cta_group"
                :key="index"
                class="next-step-alt__col-cta"
              >
                <SlpIcon
                  :icon="`${cta.icon.name}`"
                  size="md"
                  :alt="cta.icon.alt"
                  class="slp-mb-md-24"
                />
                <SlpTypography variant="body2" tag="p" class="slp-mt-16">
                  {{ cta.blurb }}
                </SlpTypography>
                <SlpButton
                  variant="tertiary"
                  class="next-step-alt__button slp-mt-16"
                  :href="cta.button.href"
                  :data-ga-name="cta.button.data_ga_name"
                  :data-ga-location="cta.button.data_ga_location || 'next step'"
                >
                  {{ cta.button.text }}
                  <SlpIcon
                    icon="gl-chevron-lg-right"
                    alt="Chevron Right Icon"
                  />
                </SlpButton>
              </div>
            </div>
          </SlpColumn>
        </SlpRow>
      </div>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.next-step-alt {
  background: $color-surface-700;
  color: $color-primary-300;
  padding-bottom: $spacing-32;
  position: relative;
  z-index: 1;

  &__container {
    background: $color-surface-700;
    border-radius: 12px;
    border: 1px solid $color-surface-600;
    padding: $spacing-32 $spacing-24;
    position: relative;
    margin-top: -$spacing-96;
    @media (min-width: $breakpoint-sm) {
      padding: $spacing-64;
    }
    @media (min-width: $breakpoint-md) {
      max-width: 100%;
    }
  }
  &__col-wrapper {
    @media (min-width: $breakpoint-md) {
      display: flex;
      flex-direction: row;
      gap: $spacing-16;
    }
  }
  &__col-cta {
    flex: 1 0 50%;
    margin-top: $spacing-32;
    @media (min-width: $breakpoint-md) {
      margin-top: 0;
    }
  }
  &__button {
    width: 95%;
    color: $color-primary-300 !important;
    display: inline-block;
    text-align: left;

    &:hover {
      text-decoration: underline;
      text-decoration-color: currentColor !important;
    }
    :deep .slp-icon {
      display: inline-block;
      position: relative;
      div {
        position: absolute;
        top: 2px;
      }
    }

    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
  }
  &__header {
    max-width: 480px;
    background: linear-gradient(
      89.95deg,
      #feb484 3.13%,
      #a686f2 66.86%,
      #592ac8 123.2%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__main-button {
    width: 100%;
    justify-content: center;
    @media (min-width: $breakpoint-sm) {
      width: auto;
    }
  }
}
</style>
