<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'DevExBenefits',
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <div
    id="benefits-container"
    :style="data.customFields?.styles?.container"
    :class="data.customFields?.class?.container"
  >
    <SlpContainer>
      <SlpRow>
        <SlpColumn
          :cols="6"
          class="benefits-text animation-wrapper slp-pr-lg-32"
        >
          <div
            class="text__span slp-mb-24"
            v-html="$md.render(data.text)"
          ></div>
        </SlpColumn>
        <SlpColumn :cols="6" class="benefits-image">
          <div class="image">
            <img
              :src="data.assets[0].fields.image.fields.file.url"
              :alt="data.assets[0].fields.image.fields.description"
              class="image__img"
            />
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
#benefits-container {
  padding: 120px 0 $spacing-32 0;

  @media (max-width: $breakpoint-md) {
    padding-bottom: $spacing-48;
  }

  .benefits-text {
    display: flex;
    align-items: center;
  }

  .image__img {
    width: 100%;
  }

  .text__span {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
  }
  :deep .devex-gradient {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(
      91.08deg,
      #fca326 -9.03%,
      #a686f2 27.88%,
      #a989f5 65.98%
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }
}

.gradient {
  background: linear-gradient(to bottom, transparent, #fff),
    linear-gradient(to right, #fed5db, #d7c1f2);
}
</style>
