<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  CTA as CallToAction,
  Copy,
  CopyMedia,
  CopyResources,
  FeaturedMedia,
  NextStep,
  SlpBreadcrumb,
  Table as SlpTable,
} from '../../../components/common/index.vue';
import {
  CompanyCopyCard as CopyCard,
  CopyMediaCard,
} from '../../../components/company/index.vue';
import {
  BenefitsIcons,
  TopicsCards,
  TopicsCopyBlock,
  TopicsCta,
  TopicsEmphasis,
  TopicsHeader,
  TopicsInfoTable,
} from '../../../components/topics/index.vue';
import { SolutionsResourceCards } from '~/components/solutions/index.vue';
import { getPageMetadata } from '~/common/meta';
import {
  fetchTopicBySlug,
  handleTopicFromContentful,
} from '~/services/topics.service';
import { CtfTopic } from '~/models';

export default Vue.extend({
  components: {
    CallToAction,
    Copy,
    CopyResources,
    CopyCard,
    CopyMediaCard,
    CopyMedia,
    TopicsCards,
    TopicsCta,
    BenefitsIcons,
    TopicsHeader,
    FeaturedMedia,
    SlpTable,
    SlpBreadcrumb,
    TopicsCopyBlock,
    SolutionsResourceCards,
    TopicsInfoTable,
    TopicsEmphasis,
    NextStep,
  },
  async asyncData({ params, i18n }: any) {
    const contentfulData = await fetchTopicBySlug(
      !params.slug ? 'devops' : `devops/${params.slug}`,
      i18n.locale,
    );

    if (!contentfulData) {
      throw new Error(`No Contentful data on /topics/devops/${params.slug}`);
    }

    const childtopic = handleTopicFromContentful(<CtfTopic>contentfulData);

    if (!childtopic) {
      throw new Error(
        `Error parsing Contentful data on /topics/devops/${params.slug}`,
      );
    }

    return { childtopic };
  },
  head(): MetaInfo {
    return getPageMetadata(
      (this as any).childtopic,
      this.$route.path,
      this.$nuxtI18nHead({ addSeoAttributes: true }),
    );
  },
});
</script>

<template>
  <div>
    <SlpContainer v-if="childtopic">
      <div v-if="childtopic.sideMenu">
        <SlpBreadcrumb class="slp-mt-32" :crumbs="childtopic.crumbs" />
        <TopicsHeader
          v-if="childtopic.topicsHeader"
          :data="childtopic.topicsHeader.data"
        />
        <SlpSideNavigation
          :data="childtopic.sideMenu"
          :class="{
            'side-navigation--w-hero': childtopic.topicsHeader,
            'side-navigation--w-old-hero': childtopic.old_topicsHeader,
          }"
        >
          <template v-if="childtopic.sideMenu.hyperlinks" #footer>
            <div>
              <SlpTypography
                v-show="childtopic.sideMenu.hyperlinks.text"
                tag="div"
                variant="body3-bold"
                class="nav-heading"
                >{{ childtopic.sideMenu.hyperlinks.text }}</SlpTypography
              >
              <SlpButton
                v-for="(button, buttonIndex) in childtopic.sideMenu.hyperlinks
                  .data"
                :key="buttonIndex"
                class="hyperlinks"
                :variant="button.variant"
                :href="button.href"
                :data-ga-name="button.data_ga_name"
                :data-ga-location="button.data_ga_location"
                >{{ button.text }}
                <SlpIcon
                  v-if="button.icon"
                  class="slp-ml-8"
                  name="chevron-lg-right"
                  variant="product"
                  alt="Chevron Right Icon"
                />
              </SlpButton>
            </div>
          </template>
          <component
            :is="component.name"
            v-for="(component, index) in childtopic.sideMenu.content"
            :key="component.name + `-${index}`"
            :data="component.data"
          />
        </SlpSideNavigation>
      </div>
      <component
        :is="component.name"
        v-for="(component, i) in childtopic.components"
        :key="i"
        :data="component.data"
      />
    </SlpContainer>
    <SlpContainer variant="gradient">
      <NextStep disable-animations />
    </SlpContainer>
  </div>
</template>
<style lang="scss" scoped>
:deep .dropdown {
  margin: $spacing-32 0;
}
:deep #collapsible-sidebar {
  overflow-y: scroll;
  max-height: calc(100vh - $spacing-96);
  height: 100%;
}
.side-navigation--w-old-hero {
  :deep #collapsible-sidebar {
    padding-top: 0 !important;
  }
}
.side-navigation--w-hero {
  :deep #collapsible-sidebar {
    margin-top: $spacing-96;
  }
}
.hyperlinks {
  font-size: $font-size-default;
  line-height: 20px;
  font-weight: $font-weight-normal;
  text-align: left !important;
}
.nav-heading {
  margin-bottom: $spacing-8;
}
</style>
