<script lang="ts">
import Vue from 'vue';
import { kebabCase } from 'lodash';

export default Vue.extend({
  name: 'MicrositeTextBlock',
  props: {
    data: {
      type: Object,
      required: true,
    },
    partner: {
      type: Object,
      required: false,
      default: null,
    },
  },
  methods: {
    kebabCase,
    copyClipboard() {
      if (navigator) {
        navigator.clipboard.writeText(`${window.location}`);
      }
    },
  },
});
</script>

<template>
  <div>
    <div v-if="data.header" class="decoration"></div>
    <div v-if="data.header" class="anchor-header">
      <SlpTypography
        :id="data.anchorId || kebabCase(data.header)"
        variant="heading2-bold"
        class="copy_block__header"
        tag="h2"
        >{{ data.header }}
      </SlpTypography>
      <a
        :href="`#${data.anchorId || kebabCase(data.header)}`"
        :data-ga-name="data.anchorId || data.header.toLowerCase()"
        data-ga-location="body"
        @click="copyClipboard()"
      >
        <SlpIcon name="anchor" size="sm" variant="marketing" color="#7759C2" />
      </a>
    </div>
    <div v-if="data.subheader" class="slp-mb-48">
      <SlpTypography variant="heading5-bold" tag="h3"
        >{{ data.subheader }}
      </SlpTypography>
    </div>
    <div v-if="data.text" class="copy_block__content copy">
      <div class="block">
        <SlpTypography :variant="'body1'" tag="div">
          <div class="copy_block__text" v-html="$md.render(data.text)"></div>
        </SlpTypography>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.anchor-header {
  display: flex;
  justify-content: space-between;
  scroll-margin-top: -100px;
  a {
    opacity: 0;
    transition: opacity 170ms ease;
    color: inherit;
    display: inline-block;
    padding-top: 17px;
  }
  &:hover,
  &:focus,
  &:active {
    a {
      opacity: 1;
      transition: opacity 170ms ease;
    }
  }
}
.copy_block {
  &__button {
    margin-top: $spacing-16;
  }
  &__header {
    margin-bottom: $spacing-32;
  }
}
.decoration {
  height: 4px;
  margin-top: $spacing-32;
  width: 96px;
  border-radius: 20px;
  margin-bottom: $spacing-24;
  background: rgb(255, 203, 215);
  background: linear-gradient(
    90deg,
    rgba(255, 203, 215, 1) 0%,
    rgba(241, 205, 234, 1) 51%,
    rgba(211, 191, 238, 1) 100%
  );
  @media (max-width: $breakpoint-lg) {
    margin-top: 0;
  }
}

.copy_block__text {
  &:deep table :is(td, th) {
    border: 1px solid $color-surface-900;
    padding: 0.3em;
  }
  &:deep ul {
    list-style: unset;
    padding: revert;
  }
  &:deep h3 {
    // Need to be important to override the typography styles for body-1 in the blocks where there is a small header (h4) in the paragraphs
    font-weight: 600 !important;
    font-size: 23px !important;
    line-height: 32px !important;
    margin-top: $spacing-32;
    margin-bottom: $spacing-24;
  }
  &:deep p {
    margin-bottom: $spacing-16;
  }
  &:deep strong {
    font-weight: bold;
  }

  &:deep blockquote {
    margin: $spacing-32 0;
    padding: $spacing-16 $spacing-24;
    border-left: 4px solid $color-surface-700;
    background-color: $color-surface-100;
    p {
      margin-bottom: 0;
    }
  }

  &:deep table {
    margin: $spacing-32 0;
    border-collapse: collapse;
    width: 100%;
    th,
    td {
      padding: $spacing-16;
      text-align: left;
      border-bottom: 1px solid $color-surface-900;
    }
  }
}
</style>
