<script lang="ts">
import Vue from 'vue';
import { ShowMoreMixin } from '../../../mixins';

import FeatureItemCard from './feature-item-card.vue';

export default Vue.extend({
  name: 'FeaturePagination',
  components: {
    FeatureItemCard,
  },
  mixins: [ShowMoreMixin],
  props: {
    data: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      allOtherFeatures: this.data,
      numberOfItemsShown: 12,
    };
  },
  computed: {
    featureResultsWithLimit() {
      return this.allOtherFeatures.slice(0, this.numberOfItemsShown);
    },
  },
});
</script>

<template>
  <div>
    <SlpRow class="features-block__card-container">
      <FeatureItemCard
        v-for="(item, itemIndex) in featureResultsWithLimit"
        :key="itemIndex"
        :data="item"
      />
    </SlpRow>
    <SlpButton
      v-if="featureResultsWithLimit.length < allOtherFeatures.length - 1"
      type="button"
      variant="primary"
      class="load-more"
      aria-label="view more features"
    >
      <div @click="incrementItemsShown(allOtherFeatures.length, 12)">
        + Load more
      </div>
    </SlpButton>
  </div>
</template>

<style lang="scss" scoped>
.features-block__card-container {
  align-items: stretch;
  gap: 0 $spacing-32;
  display: grid;

  .features-block__card {
    width: 100%;
    max-width: 350px;

    @media (min-width: 970px) {
      width: 350px;
      min-width: calc(50% - 32px);
    }
  }
}

.load-more {
  margin: 0 auto;
  display: block;
  background: $color-surface-50;
  color: $color-text-300;
  padding: 0;

  &:hover {
    background: $color-surface-700;
    color: $color-text-50;
  }

  div {
    padding: 1rem;
  }
}
</style>
