<script lang="ts">
import Vue from 'vue';
import ParallaxContainer from '~/components/developer-survey/2023/parallax-container.vue';

export default Vue.extend({
  name: 'CodeSuggestionsSaleshero',
  components: {
    ParallaxContainer,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section class="code-suggestions-sales-hero">
    <SlpContainer
      variant="charcoal-100"
      class="code-suggestions-sales-hero__container"
    >
      <div
        class="code-suggestions-sales-hero__background"
        :class="{ 'code-suggestions-sales-hero__background--ty': data.id }"
      >
        <ParallaxContainer direction="up">
          <img :src="data.backgroundImage.src" alt="" />
          <img
            class="code-suggestions-sales-hero__background--mobile-only"
            src="https://images.ctfassets.net/xz1dnu24egyd/29hAZ2w4FD5SynEAHmgCcl/e1bb26b195aff0844fdb1da30f35d3ad/mob-stars.svg"
            alt=""
          />
        </ParallaxContainer>
      </div>
      <SlpRow v-if="data.id" class="slp-justify-content-center">
        <SlpColumn :cols="6" class="">
          <div
            class="code-suggestions-sales-hero__thank-you-note"
            data-aos="fade-up"
            data-aos-duration="900"
          >
            <SlpTypography
              variant="heading5-bold"
              tag="h5"
              class="code-suggestions-sales-hero__title"
            >
              <SlpIcon
                v-if="data.icon"
                :icon="data.icon"
                size="md"
                class="code-suggestions-sales-hero__icon slp-mr-16"
              />{{ data.title }}
            </SlpTypography>
            <SlpTypography variant="body1" tag="div" class="slp-mt-16"
              ><div v-html="$md.render(data.description)"></div>
            </SlpTypography>
          </div>
        </SlpColumn>
      </SlpRow>
      <SlpRow v-else>
        <SlpColumn :cols="6">
          <div
            class="code-suggestions-sales-hero__copy"
            data-aos="fade-left"
            data-aos-duration="900"
          >
            <SlpTypography
              variant="heading5-bold"
              tag="h4"
              class="code-suggestions-sales-hero__note"
              >{{ data.title }}</SlpTypography
            >
            <SlpTypography
              variant="heading2-bold"
              tag="h1"
              class="slp-mt-16 slp-mb-16"
              >{{ data.subheader }}
            </SlpTypography>
            <SlpTypography variant="body2"
              >{{ data.description }}
            </SlpTypography>
          </div>
        </SlpColumn></SlpRow
      >
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.code-suggestions-sales-hero {
  position: relative;
  max-width: 100vw;
  overflow: hidden;
  &__container {
  }
  &__note {
    background: rgb(225, 152, 109);
    background: linear-gradient(
      90deg,
      rgba(225, 152, 109, 1) 0%,
      rgba(119, 89, 194, 1) 35%,
      rgba(110, 67, 211, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__copy {
    color: #fff;
    padding: 120px 0 256px 0;
    z-index: 1;
    position: relative;
    @media (min-width: $breakpoint-md) {
      padding: 120px 0 256px 0;
    }
  }
  &__thank-you-note {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid $color-primary-100;
    padding: $spacing-32 $spacing-24;
    margin: 120px 0 120px 0;
    position: relative;
    z-index: 1;
    @media (min-width: $breakpoint-md) {
      margin: 192px 0 204px 0;
    }
    :deep {
      p {
        margin: 24px 0;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      em {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5%;
    @media (min-width: $breakpoint-md) {
      padding: 120px 0 256px 0;
      top: 0;
    }
    &--ty {
      @media (min-width: $breakpoint-md) {
        padding: 85px 0 192px 0;
      }
    }
    &--mobile-only {
      display: block;
      @media (min-width: $breakpoint-md) {
        display: none;
      }
    }
    img:not(.code-suggestions-sales-hero__background--mobile-only) {
      display: none;
      @media (min-width: $breakpoint-md) {
        display: block;
      }
    }
  }
  &__title {
    display: flex;
  }
}
</style>
