<script lang="ts">
import Vue from 'vue';
import MultiFormRaw from './multi-form-raw.vue';

export default Vue.extend({
  name: 'WorldTourFormMulti',
  components: {
    MultiFormRaw,
  },
  props: {
    header: { type: String, required: true },
    confirmationMessage: {
      type: String,
      required: false,
      default: '',
    },
    formId: {
      type: String,
      required: true,
      default: '',
    },
    registrationClosed: {
      type: Boolean,
      required: false,
      default: false,
    },
    disclaimer: {
      type: String,
      required: false,
      default: '',
    },
    closedRegistrationMessage: {
      type: String,
      required: true,
      default: '',
    },
    errorMessage: {
      type: String,
      required: true,
      default: '',
    },
    errorCtas: {
      type: Array,
      required: false,
      default: () => [],
    },
    showDisclaimer: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      submitted: false,
    };
  },
  methods: {
    handleSubmit() {
      this.submitted = true;
    },
  },
});
</script>

<template>
  <div id="registration-form" class="form-wrapper">
    <SlpContainer>
      <div class="container">
        <div v-if="!submitted && !registrationClosed">
          <SlpTypography
            tag="h2"
            variant="heading2-bold"
            class="header slp-mb-32"
            >{{ header }}</SlpTypography
          >
          <MultiFormRaw
            v-bind="{ formId, errorMessage, confirmationMessage, errorCtas }"
            @submit="handleSubmit"
          />

          <div
            class="slp-mt-16 form-disclaimer"
            v-html="$md.render(disclaimer)"
          ></div>
        </div>
        <div v-else-if="registrationClosed" class="confirmation">
          <div
            class="form-wrapper__text"
            v-html="$md.render(closedRegistrationMessage)"
          ></div>
        </div>
        <div v-else class="confirmation">
          <div
            class="form-wrapper__text"
            v-html="$md.render(confirmationMessage)"
          ></div>
        </div>
        <SlpTypography
          v-if="disclaimer && showDisclaimer && registrationClosed"
          tag="p"
          variant="body3-bold"
          class="form-disclaimer slp-mt-16"
          >{{ disclaimer }}</SlpTypography
        >
      </div>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.form-wrapper {
  background: #5c284c;
  padding: 120px 0;
  .container {
    padding: 46px 92px;
    @media (max-width: $breakpoint-md) {
      padding: 16px;
    }
    background: #1e1525;
    border-radius: 8px 8px 96px 8px;
    .header {
      color: $color-surface-800;
    }

    .form-disclaimer {
      color: $color-text-50;
      font-style: italic;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
    }
    .confirmation {
      color: $color-surface-800;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 68px;
      margin: 160px 0;
    }

    :deep(.form_column) {
      padding: 0 !important;
    }
  }

  &__text {
    :deep {
      h3 {
        font-size: 40px;
        line-height: 48px;
        font-weight: 600;
        letter-spacing: -1.4px;
        margin-bottom: 32px;
      }
      p {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
      }
    }
  }
}
</style>
